
/*menu colors*/
$menu-midgrey:#252525;
$menu-darkgrey:#111111;
$menu-hovergrey:#191919;
$menu-ligthgrey:#a1a1a1;
$menu-orangebar:#f05023;
$menu-textgrey:#595959;
$menu-blackborder :#252525;

/*content colors*/
$content-seeall:#979797;
$content-orangebox:#f05023;
$content-songtitle:#919191;
$content-albumtitle:#252525;
$content-playlistheader:#262626;
$content-playlisttitle:#8e8e8e;
$content-playlistbox:#1a1a1a;
$content-playlistborder:#121212;
$content-playlistsub:#2d2d2d;
